services:
  db:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_USER: joaol
      POSTGRES_PASSWORD: joaol
      POSTGRES_DB: joaol
    ports:
      - "5432:5432"
  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://joaol:joaol@db:5432/joaol?schema=public
      - PORT=3000
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data: